.order {
  padding: 40px;
  margin: 20px 0;
  border: 1px solid lightgray;
  background-color: white;
  position: relative;
}

.order__id {
  position: absolute;
  top: 40px;
  right: 20px;
}

.order__total {
  font-weight: 500;
  text-align: right;
}

/*  */
@media (max-width: 767px) {
  .order {
    text-align: center;
    font-size: 18px;
  }

  .order__id {
    margin-bottom: 30px;
    /* text-align: center; */
    font-size: 8px;
  }

  .order__total {
    text-align: center;
    font-size: 22px;
  }
}

@media (min-width: 480px) and (max-width: 767px) {
}

@media (max-width: 479px) {
}
